.carousel-height{
    height: 800px;
}
.align-top-left{
    text-align: left;
    margin-bottom: 500px;
}
@media only screen and (max-width:600px){
    .carousel-height{
        height: 250px;
    }
    .align-top-left{
        margin-bottom:auto;
    }
    
}