.jumbotron-header{
    font-family: Changa, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin-bottom: 2%;
}
.jumbotron-content{
    text-indent: 2em;
    justify-content: center;
}
.jumbotron-content-hidden{
    text-indent: 2em;
    justify-content: center;
    display:none;
}
