.jumbotron-header{
    font-family: Changa, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin-bottom: 2%;
}
.jumbotron-content{
    text-indent: 2em;
    justify-content: center;
}
.jumbotron-content-hidden{
    text-indent: 2em;
    justify-content: center;
    display:none;
}
.button-indent{
    margin-left: 47%;
    margin-top: 1%;
}
@media only screen and (max-width:600px){
    .button-indent{
      margin-left: 40%;
    }
}
/* BREADCRUMB for About.js */
.breadcrumb-header{
    font-family: Changa, sans-serif;
    font-size: 80px;
}
.breadcrumb-container{
    padding: 60px;
    text-align: center;
    color: white;
    background-color: black
}
.active-bread{
    color: gray;
}
.breadcrumb-link, a:hover{
    text-decoration: none;
}
.breadcrumb-link{
    color: white;
}
/* END OF BREADCRUMB FOR About.js */