.showcase-height{
    height: 770px;
}
.caption-1{
    top: 0;
    margin-top:5%;
}
.featured-headers-col{
    font-family: Changa, sans-serif;
    font-size: 70px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}